<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Big99</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <link rel="stylesheet" href="./index_files/index-96409872.css">
    <link rel="stylesheet" href="../index_files/index-96409872.css">
    <link rel="stylesheet" href="../assets/css/index-7cb00ae8.css">
    <link rel="stylesheet" href="../assets/css/Instructions-171cc2e8.css"> 
    <link rel="stylesheet" href="../assets/css/index-c15f0606.css"> 
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/css/index-3cf8aaa6.css"> 
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }
        .tabbar__container-item[data-v-76c247f8]:nth-of-type(3) svg {
    position: absolute;
    bottom: 0.8rem !important;
    width: 0.86667rem !important;
    height: 0.86667rem !important;
    z-index: 3;
}
        .block-click {
            pointer-events: none;
        }

        .show-enter-active[data-v-25d9c352],
        .show-leave-active[data-v-25d9c352] {
            transition: all .5s
        }

        .show-enter[data-v-25d9c352],
        .show-leave-to[data-v-25d9c352] {
            margin-top: .13333rem
        }

        .show-enter-to[data-v-25d9c352],
        .show-leave[data-v-25d9c352] {
            margin-top: 0
        }

        .mian[data-v-25d9c352] {
            background-color: #22275b
        }

        .mian .bank[data-v-25d9c352] {
            border-radius: .69333rem
        }

        .mian .bank .navbar-back[data-v-25d9c352],
        .mian .bank[data-v-25d9c352] {
            width: .69333rem;
            height: .69333rem
        }

        .mian .head-right[data-v-25d9c352] {
            border-radius: .26667rem;
            background: rgba(120, 11, 14, .24)
        }

        .mian .selectBox[data-v-25d9c352] {
            width: 100%
        }

        .mian .selectBox .colorBox[data-v-25d9c352] {
            height: 1.06667rem;
            width: 100%;
            background: -webkit-linear-gradient(left, #61a9ff 0%, #59b0ea 100%);
            background: linear-gradient(90deg, #61a9ff 0%, #59b0ea 100%)
        }

        .mian .selectBox .txtBox[data-v-25d9c352] {
            width: 95%;
            height: 3.46667rem !important;
            background-image: url(/assets/png/TotalAssetsBg-a7cff097.png);
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: center;
            border-radius: .26667rem !important;
            color: #fff;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
            position: relative !important;
            background-color: #22275b;
            z-index: 99;
            margin-top: 0.3rem;
            padding: .4rem .53333rem 0;
            position: relative;
        }

        .mian .selectBox .txtBox.action[data-v-25d9c352] {
            height: 1.6rem
        }

        .mian .selectBox .txtBox .txt[data-v-25d9c352] {
            color: #ffffff;
            font-weight: 400;
            font-size: .4rem;
            line-height: .53333rem
        }

        .mian .selectBox .txtBox .money[data-v-25d9c352] {
            color: #2aaaf3;
            font-weight: 600;
            margin-left: .13333rem;
            font-size: .64rem;
            text-align: center
        }

        .mian .selectBox .txtBox .Umoney[data-v-25d9c352] {
            font-size: .48rem;
            font-weight: 500
        }

        .mian .selectBox .txtBox .Umoney .txt[data-v-25d9c352] {
            font-size: .37333rem;
            font-weight: 400
        }

        .mian .selectBox .txtBox .Umoney .red[data-v-25d9c352] {
            font-size: .48rem;
            color: #fb4e4e
        }

        .mian .selectBox .txtBox .img.action[data-v-25d9c352] {
            -webkit-animation: rotation-data-v-25d9c352 .5s linear
        }

        @-webkit-keyframes rotation-data-v-25d9c352 {
            0% {
                -webkit-transform: rotate(0deg)
            }

            to {
                -webkit-transform: rotate(180deg)
            }
        }

        .mian .selectBox .txtBox .icon[data-v-25d9c352] {
            position: absolute;
            right: .53333rem;
            top: 0;
            height: 1.46667rem;
            width: .88rem;
            background: url(/images/wallet_bookmark.png) no-repeat 50%;
            background-size: 100% 100%
        }

        .mian .selectBox .tab[data-v-25d9c352] {
            padding: .13333rem .4rem 0;
            
        }

        .mian .selectBox .tab .box[data-v-25d9c352] {
            width: 100%
        }

        .mian .selectBox .tab .box ul[data-v-25d9c352] {
            width: calc(100% + .26667rem)
        }

        .mian .selectBox .tab .box ul li.item[data-v-25d9c352] {
            padding: .21333rem;
            width: calc(33.3% - .26667rem);
            border-radius: .3333rem;
            white-space: nowrap;
            background-image: linear-gradient(40deg, #e5e7f6 35%, #f5f3fb);
            margin-bottom: .26667rem;
            margin-right: .26667rem;
            position: relative
        }

        .mian .selectBox .tab .box ul li.item .icon[data-v-25d9c352] {
            height: .8rem;
            width: .8rem;
            border-radius: .8rem;
            margin: 0 auto
        }

        .mian .selectBox .tab .box ul li.item .icon .size[data-v-25d9c352] {
            font-size: .53333rem;
            color: #333
        }

        .mian .selectBox .tab .box ul li.item .name[data-v-25d9c352] {
            text-align: center
        }

        .mian .selectBox .tab .box ul li.item .icons[data-v-25d9c352] {
            padding-right: 0.10667rem;
            text-align: right;
            width: 0.7rem;
            line-height: 1.06667rem;
            height: 0.6rem;
            background: url(/images/wallet_tick.png) no-repeat 50%;
            background-size: 100% 100%;
            position: absolute;
            right: 0;
            bottom: 0
        }

        .mian .selectBox .tab .box ul li.item.action[data-v-25d9c352] {
            background: -webkit-linear-gradient(left, #61a9ff 0%, #59b0ea 100%);
            background: linear-gradient(90deg, #61a9ff 0%, #59b0ea 100%);
            color: #fff
        }

        .mian .selectBox .tab .box ul li.item.action .size[data-v-25d9c352] {
            color: #fff
        }

        .mian .selectBox .withd[data-v-25d9c352] {
            padding: 0 .53333rem;
            height: 1.06667rem;
            line-height: 1.06667rem;
            font-size: .34667rem
        }

        .mian .selectBox .number-box[data-v-25d9c352] {
            padding: 0 .53333rem;
            height: 1.26667rem;
            line-height: 1.06667rem;
            color: #ffffff;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: 35px;
            background: #323a7c;
            font-size: .66667rem;
            font-weight: 600
        }

        .mian .selectBox .number-box .symbol.action[data-v-25d9c352] {
            font-size: .48rem
        }

        .mian .selectBox .number-box .input[data-v-25d9c352] {
            font-size: .48rem;
            background: 0 0 !important
        }

        .mian .selectBox .ipnBox[data-v-25d9c352] {
            padding: 0 .53333rem
        }

        .mian .selectBox .ipnBox .red[data-v-25d9c352] {
            font-size: .42667rem;
            color: #fb4e4e
        }

        .mian .selectBox .bankBox[data-v-25d9c352] {
            padding: 0 .53333rem
        }

        .mian .selectBox .bankBox .box[data-v-25d9c352] {
            background: #323a7c;
            border: .05333rem solid #2aaaf3;
            box-shadow: 0 .21333rem .37333rem 0 rgba(243, 195, 0, .14);
            border-radius: .13333rem
        }

        .mian .selectBox .bankBox .box .item[data-v-25d9c352] {
            padding: .26667rem;
            border-bottom: .02667rem solid #22275b;
            font-size: .37333rem;
            color: #2aaaf3
        }

        .mian .selectBox .bankBox .box .item[data-v-25d9c352]:last-child {
            border-bottom: none
        }

        .mian .selectBox .conBox[data-v-25d9c352] {
            padding: 0 .53333rem
        }

        .mian .selectBox .conBox .des[data-v-25d9c352] {
            color: #2aaaf3;
            font-size: .42667rem;
            margin-bottom: .3rem;
            margin-top: .5rem
        }

        .mian .selectBox .conBox .box[data-v-25d9c352] {
            background: #323a7c;
            border-radius: .23333rem
        }

        .mian .selectBox .conBox .box .tit[data-v-25d9c352] {
            height: .93333rem;
            padding: 0 .26667rem;
            color: #f2413b
        }

        .mian .selectBox .conBox .box .tit.action[data-v-25d9c352] {
            border-bottom: .02667rem solid #ebebeb
        }

        .mian .selectBox .conBox .box .list .item[data-v-25d9c352] {
            height: .93333rem;
            padding: 0 .4rem;
            line-height: .93333rem;
            color: #2aaaf3;
            
        }

        .mian .selectBox .conBox .box .list .item .name[data-v-25d9c352] {
            max-width: 6.4rem;
            overflow: hidden;
            white-space: nowrap
        }

        .mian .selectBox .conBox .box .list .icon[data-v-25d9c352] {
            height: .53333rem;
            width: .53333rem;
            border-radius: .53333rem;
            border: .05333rem solid #eee
        }

        .mian .selectBox .conBox .box .list .icon.action[data-v-25d9c352] {
            border-color: rgb(255, 255, 255);
            background-color: #1b1d37
        }

        .mian .selectBox .conBox .box .add[data-v-25d9c352] {
            -webkit-line-clamp: 1;
            height: .93333rem;
            padding: 0 .26667rem;
            background: #59b0eaab;
            border-radius: .26667rem;
            color: #ffffff;
            font-weight: 400
        }

        .mian .selectBox .conBox .box .add .plus[data-v-25d9c352] {
            margin-right: .26667rem;
            height: .66667rem;
            width: .66667rem;
            border-radius: .66667rem;
            background-color: rgba(4, 6, 26, .41)
        }

        .mian .selectBox .requiredBox[data-v-25d9c352] {
            padding: 0 .53333rem
        }

        .mian .selectBox .requiredBox .box[data-v-25d9c352] {
            position: relative;
            height: 1.06667rem;
            line-height: .96rem;
            margin: 0.4rem 0 0.8rem;
            background: #323a7c;
            color: #ffffff;
            font-size: .37333rem;
            border-radius: 0.26667rem;
            outline: none;
            border: 0.05333rem solid #323a7c;
            overflow: hidden
        }

        .mian .selectBox .requiredBox .box .input[data-v-25d9c352] {
            width: 100%;
            height: 100%;
            border: none;
            background: #323a7c;
            outline: none;
            padding-left: .26667rem
        }

        .mian .withdrawal-btn .btn[data-v-25d9c352] {
            width: 50%;
            height: 0.93333rem;
            font-size: .4rem;
            font-weight: 700;
            letter-spacing: .01333rem;
            border: none;
            border-radius: 1.06667rem;
            color: #FFFFFF;
            background: -webkit-linear-gradient(top, #59b0ea 0%, #61a9ff 100%);
            background: linear-gradient(180deg, #59b0ea 0%, #61a9ff 100%)
        }

        html {
            -webkit-tap-highlight-color: transparent
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, Hiragino Sans GB, Microsoft Yahei, sans-serif
        }

        a {
            text-decoration: none
        }

        button,
        input,
        textarea {
            color: inherit;
            font: inherit
        }

        [class*=van-]:focus,
        a:focus,
        button:focus,
        input:focus,
        textarea:focus {
            outline: 0
        }

        ol,
        ul {
            margin: 0;
            padding: 0;
            list-style: none
        }

        .navbar[data-v-106b99c8] {
        background: linear-gradient(90deg, #2b3270 0%, #2b3270 100%) !important;
        }
        .van-field__control {
        font-weight: 400;
        }

        .van-button__content {
        font-weight: 400;
        }

        .m-t-10 {
        margin-top: .36667rem !important;
        margin-bottom: .36667rem !important;
        }

        .symbol.c-row.c-row-middle {
    font-weight: 400;
}


.activity-wrapper .activity-panel-header.lg5[data-v-53f1c857] {
    -webkit-flex-wrap: wrap;
    flex-wrap: nowrap;
    font-size: 13px;
}

.activity-wrapper .activity-panel-content .content-title .content-para[data-v-53f1c857] {
    color: #fff;
    font-weight: 500;
    padding: .13333rem .26667rem;
    font-size: .37333rem;
}

.activity-wrapper .activity-panel-content .content-title p[data-v-53f1c857] {
    padding: .06667rem .26667rem;
    color: #fff;
    font-size: 12px;
}

.activity-wrapper .activitySection__container>.box>.box-content .box-title[data-v-53f1c857] {
    font-size: .4rem;
    font-weight: 400 !important;
    margin-bottom: .13333rem;
    color: #fff;
}
        
    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-25d9c352="" class="mian">
            <div data-v-106b99c8="" data-v-25d9c352="" class="c-row navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
                    <div data-v-25d9c352="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Activity</div>
                <div data-v-106b99c8="" class="navbar-right">
                    <div data-v-11ffe290="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-11ffe290="" data-v-106b99c8="" src="/images/audio.webp"
                                style="width:.66667rem;height:.66667rem">
                        </i>
                    </div>
                </div>
            </div>

            <div data-v-53f1c857="" data-v-0ea39f99="" class="activity-wrapper" style="--f817f0ee: 'Roboto', 'Inter', sans-serif;">
              <div data-v-53f1c857="" class="activity-banner">
                <div data-v-53f1c857="">
                  <div data-v-53f1c857="" class="banner-title">
                    Activity
                  </div>
                  <div data-v-53f1c857="" class="banner-para">
                    Please remember to follow the event page
                  </div>
                  <div data-v-53f1c857="" class="banner-para">
                    We will launch user feedback activities from time to time
                  </div>
                </div>
              </div>
              <div data-v-53f1c857="" class="activity-panel">
                <!---->
                <div data-v-53f1c857="" class="activity-panel-header lg5">
                  <div data-v-53f1c857="" class="header-item"  onclick="location.href='/dailytask'">
                    <div data-v-53f1c857="" class="van-badge__wrapper">
                      <div data-v-53f1c857="" class="a1 bgcontainer">
                      </div>
                      <!---->
                    </div>
                    <span data-v-53f1c857="">
                      Activity Award
                    </span>
                  </div>
                  <div data-v-53f1c857="" class="header-item"  onclick="location.href='/invibonus'">
                    <div data-v-53f1c857="" class="van-badge__wrapper">
                      <div data-v-53f1c857="" class="a2 bgcontainer">
                      </div>
                      <!---->
                    </div>
                    <span data-v-53f1c857="">
                      Invitation bonus
                    </span>
                  </div>
                  <div data-v-53f1c857="" class="header-item" onclick="location.href='/rebate'">
                    <div data-v-53f1c857="" class="van-badge__wrapper">
                      <div data-v-53f1c857="" class="a3 bgcontainer">
                      </div>
                      <!---->
                    </div>
                    <span data-v-53f1c857="">
                      Betting rebate
                    </span>
                  </div>
                  <div data-v-53f1c857="" class="header-item"  onclick="location.href='/jackpot'">
                    <div data-v-53f1c857="" class="van-badge__wrapper">
                      <div data-v-53f1c857="" class="a4 bgcontainer">
                      </div>
                      <!---->
                    </div>
                    <span data-v-53f1c857="">
                      Super Jackpot
                    </span>
                  </div>
                  <div data-v-53f1c857="" class="header-item"  onclick="location.href='/checkIn'">
                    <div data-v-53f1c857="" class="van-badge__wrapper">
                      <div data-v-53f1c857="" class="a5 bgcontainer">
                      </div>
                      <!---->
                    </div>
                    <span data-v-53f1c857="">
                      New member gift package
                    </span>
                  </div>
                </div>
                <div data-v-53f1c857="" class="activity-panel-content">
                  <div data-v-53f1c857="" class="content-title">
                    <img data-v-53f1c857="" data-src="/assets/png/signInBanner-33f86d3f.png"
                    src="/assets/png/signInBanner-33f86d3f.png" lazy="loaded">
                    <div data-v-53f1c857="" class="content-para">
                      Gifts
                    </div>
                    <p data-v-53f1c857="">
                      Enter the redemption code to receive gift rewards
                    </p>
                  </div>
                  <div data-v-53f1c857="" class="content-title">
                    <img data-v-53f1c857="" data-src="/assets/png/giftRedeem-45917887.png"
                    src="/assets/png/giftRedeem-45917887.png" lazy="loaded">
                    <div data-v-53f1c857="" class="content-para">
                      Attendance bonus
                    </div>
                    <p data-v-53f1c857="">
                      The more consecutive days you sign in, the higher the reward will be.
                    </p>
                  </div>
                </div>
              </div>
              <!---->
              <div data-v-53f1c857="" role="feed" class="van-list" aria-busy="false">
                <div data-v-53f1c857="" class="activitySection__container">
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240412205537ud4o.png"
                    class="act_0">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        💸 First Deposit Bonus 💸
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413184039yjlg.png"
                    class="act_1">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        💰 Get Daily Check-in Bonus 💰
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413184801uacy.png"
                    class="act_2">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        🚀Aviator Fly High &amp; Win Big🚀
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413184823pcfs.png"
                    class="act_3">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        💰Lucky "10" Days Of Interest💰
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185613x4e5.png"
                    class="act_4">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        ▶️ Youtube Creative Video ▶️
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185757jact.png"
                    class="act_5">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        ❗️ Mysterious Gift ❗️
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185757jact.png"
                    class="act_6">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        ✨Member Wingo Winning Streak✨
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185757jact.png"
                    class="act_7">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        💲Affiliate Program Tiranga💲
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185757jact.png"
                    class="act_8">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        ⚙️ Mission Bonus ⚙️
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185757jact.png"
                    class="act_9">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        ➕ Invitation Bonus ➕
                      </div>
                    </div>
                  </div>
                  <div data-v-53f1c857="" class="box">
                    <img data-v-53f1c857="" src="https://tejbit.in/Banner_20240413185757jact.png"
                    class="act_10">
                    <div data-v-53f1c857="" class="box-content">
                      <div data-v-53f1c857="" class="box-title">
                        Agent Commission
                      </div>
                    </div>
                  </div>
                </div>
                <!---->
                <div class="van-list__finished-text">
                  No more
                </div>
                <br><br><br><br><br><br>
                <!---->
                <div class="van-list__placeholder">
                </div>
                
              </div>
              <!---->
              <!---->
            </div>
                

                
                
                    
                   
                    
                    
                    
                    
                
            </div>
            
        </div>
    </div>



    <%- include('../nav') -%>

    
    
</body>

</html>