<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 48.16px;">

<head>
    <meta charset="utf-8">
    <meta name="csrf-token" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex,nofollow">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <title>Big99</title>
    <link href="/css/wallet/main.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-1.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-2.css" rel="stylesheet" />
    <link href="/css/wallet/chunk_2-3.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            background-color: #090909;
            padding: 0;
            margin: 0;
        }

        #image_box {
            width: 100%;
            gap: 0.28rem;
        }

        #image_box .images_21 {
            width: 25%;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: stretch;
            -webkit-box-pack: start;
            -webkit-justify-content: flex-start;
            gap: 0.13333rem;
        }

        #image_box .images_21 img {
            width: 1rem;
            margin-left: 1vw;
            box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
            border-radius: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #image_box .images_21 p {
            text-align: center;
            color: white;
            font-weight: 500;
            font-family: inherit;
        }

        @media (max-width:600px) {
            #image_box .images_21 img {
                width: 1rem;
                margin-left: 5vw;
                box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
                border-radius: 0.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

    .mian .wallet-user[data-v-7b283485] {
    padding: 0.53333rem 0.8rem 3.2rem;
    width: 100%;
    background: -webkit-linear-gradient(left, #61a9ff 0%, #59b0ea 100%);
    background: linear-gradient(90deg,#374992 0%,#4675D2 100%) !important;
    }

    .navbar[data-v-106b99c8] {
    background: linear-gradient(90deg, #4675D2 0%,#374992 100%) !important;
    }

    .mian .wallet-box .box .balance[data-v-7b283485] {
    background: linear-gradient(180deg, #374993 0%, #374993 100%) !important;
    
    }

    .mian .wallet-box .box .balance[data-v-7b283485] {
    box-shadow: 0 0rem 0.5rem #ffffff00 !important;
    }



    .progressBars[data-v-be467d1a] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    margin-bottom: .4rem;
}

.progressBars>div[data-v-be467d1a] {
    width: 50%;
    background: #5daef30a;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

h3 {
    color: #5eacf7;
}

span {
    color: white;
}

.gameList[data-v-be467d1a] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    gap: .26667rem;
    -webkit-flex-direction: initial;
    flex-direction: initial;
    width: 100%;
    margin-top: 0.33333rem;
    margin-bottom: .66667rem;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
}


.gameList>div[data-v-be467d1a] {
    width: 31%;
    min-height: 2.13333rem;
    background-color: #2b3270;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: .13333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: .13333rem;
    padding: 0 .2rem;
    color: #acafc2;
}






    

    </style>
</head>

<body style="font-size: 12px;">
    <div id="app">
        <div data-v-7b283485="" class="mian">
            <div data-v-106b99c8="" data-v-7b283485="" class="navbar">
                <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
                    <div data-v-a9660e98="" data-v-106b99c8="" class="c-row c-row-middle-center">
                        <i class="fa-light fa-angle-left fa-fade fa-xl center" style="color: #FFF"></i>
                    </div>
                </div>
                <div data-v-106b99c8="" class="navbar-title"> Wallet </div>
                <div data-v-106b99c8="" class="navbar-right" onclick="location.href='/keFuMenu'">
                    <div data-v-7b283485="" data-v-106b99c8="" class="c-row">
                        <i class="fa-fade fa center" style="color: #FFF">
                            <img data-v-7b283485="" data-v-106b99c8="" src="/images/audio.webp" class="audio">
                        </i>
                    </div>
                </div>
            </div>
            <div data-v-7b283485="" class="wallet">
                <div data-v-7b283485="" class="wallet-user c-tc">
                   
                    <!--<div data-v-7b283485="" class="name"></div>-->
                    
                </div>
                <div data-v-7b283485="" class="wallet-box">
                    <div data-v-7b283485="" class="box">
                        <div data-v-7b283485="" class="icon1"></div>
                        <!--<div data-v-7b283485="" class="title">Wallet</div>-->
                        <div data-v-7b283485="" class="balance m-t-10">
                            <div data-v-7b283485="" class="txt c-row c-row-middle">
                                <img data-v-7b283485="" width="22px" height="18px" src="/images/king (2).png"
                                    class="m-r-5 img"> My balance：
                            </div>
                            <div data-v-7b283485="" class="c-row balanceMoney c-row-middle-center">
                                <div data-v-7b283485="" class="money">
                                    <!---->
                                    <div data-v-7b283485="">₹<span data-v-7b283485="" class="p-l-10">Loading...</span>
                                    </div>
                                </div>
                                <div data-v-7b283485="" id="reload">
                                    <div data-v-7b283485="" class="van-image img m-l-15"
                                        style="width: 25px; height: 25px;">
                                        <img src="/images/reload.png" class="van-image__img">
                                    </div>
                                </div>
                            </div>
                            <div data-v-7b283485="" class="info c-row">
                                <div data-v-7b283485="" class="item">
                                    <div data-v-7b283485="">Total Recharge</div>
                                    <!---->
                                    <div data-v-7b283485="">₹ 0.00</div>
                                </div>
                                <div data-v-7b283485="" class="item">
                                    <div data-v-7b283485="">Total Withdrawal</div>
                                    <!---->
                                    <div data-v-7b283485="">₹ 0.00</div>
                                </div>
                            </div>
                        </div>


                        <div data-v-be467d1a="" class="progressBars">
                            <div data-v-be467d1a="" class="progressBarsL">
                              <div data-v-be467d1a="" class="van-circle">
                                <svg viewBox="0 0 1100 1100">
                                  <defs>
                                    <linearGradient id="van-circle-0" x1="100%" y1="0%" x2="0%" y2="0%">
                                      <stop offset="0%" stop-color="#3C9CF6">
                                      </stop>
                                      <stop offset="100%" stop-color="#4DD8EF">
                                      </stop>
                                    </linearGradient>
                                  </defs>
                                  <path class="van-circle__layer" d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                  style="fill: none; stroke: rgb(55, 73, 146); stroke-width: 100px;">
                                  </path>
                                  <path d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                  class="van-circle__hover" stroke="url(#van-circle-0)" style="stroke: url(&quot;#van-circle-0&quot;); stroke-width: 101px; stroke-linecap: butt; stroke-dasharray: 0px, 3140px;">
                                  </path>
                                </svg>
                                <div class="van-circle__text">
                                  0%
                                </div>
                              </div>
                              <h3 data-v-be467d1a="" class="money">
                                ₹0.00
                              </h3>
                              <span data-v-be467d1a="">
                                Main wallet
                              </span>
                            </div>
                            <div data-v-be467d1a="" class="progressBarsR">
                              <div data-v-be467d1a="" class="van-circle">
                                <svg viewBox="0 0 1100 1100">
                                  <defs>
                                    <linearGradient id="van-circle-1" x1="100%" y1="0%" x2="0%" y2="0%">
                                      <stop offset="0%" stop-color="#3C9CF6">
                                      </stop>
                                      <stop offset="100%" stop-color="#4DD8EF">
                                      </stop>
                                    </linearGradient>
                                  </defs>
                                  <path class="van-circle__layer" d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                  style="fill: none; stroke: rgb(55, 73, 146); stroke-width: 100px;">
                                  </path>
                                  <path d="M 550 550 m 0, -500 a 500, 500 0 1, 1 0, 1000 a 500, 500 0 1, 1 0, -1000"
                                  class="van-circle__hover" stroke="url(#van-circle-1)" style="stroke: url(&quot;#van-circle-1&quot;); stroke-width: 101px; stroke-linecap: butt; stroke-dasharray: 0px, 3140px;">
                                  </path>
                                </svg>
                                <div class="van-circle__text">
                                  0%
                                </div>
                              </div>
                              <h3 data-v-be467d1a="">
                                ₹0.00
                              </h3>
                              <span data-v-be467d1a="">
                                3rd party wallet
                              </span>
                            </div>
                          </div>





                        <div data-v-7b283485="" class="c-row c-row-between total-btn m-t-10">
                            <div data-v-7b283485="" class="item c-row c-row-center"
                                onclick="location.href='/wallet/transfer'">
                                <div data-v-7b283485="" class="li"> MAIN WALLET TRANSFER </div>
                            </div>
                        </div>
                        <div data-v-7b283485="" class="c-row c-row-between total-btn m-t-30" id="image_box">
                            <div class="images_21" onclick="location.href='/wallet/recharge'">
                                <img src="/images/recharge.png">
                                <p>Deposit</p>
                            </div>
                            <div class="images_21" onclick="location.href='/wallet/withdrawal'">
                                <img src="/images/withdraw.png">
                                <p>Withdraw</p>
                            </div>
                            <div class="images_21" onclick="location.href='/wallet/rechargerecord'">
                                <img src="/images/rechargeHistory.png">
                                <p>Deposit History</p>
                            </div>
                            <div class="images_21" onclick="location.href='/wallet/withdrawalrecord'">
                                <img src="/images/withdrawHistory.png">
                                <p>Withdraw History</p>
                            </div>

                        </div>

                    </div>


                    <div data-v-be467d1a="" class="gameList">
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/Lottery-873aeb91.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            Lottery
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/TB-0d009f6f.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            TB_Chess
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/Wickets9-f0e72301.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            Wickets9
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/JILI-e25514b0.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            JILI
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/PG-ce27686f.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            PG
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/DG-71b50cfe.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            DG
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/SaBa-08da6600.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            SaBa
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/MG-131a99c7.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            MG
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/JDB-f47a0805.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            JDB
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/CQ9-99edddef.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            CQ9
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/TB-0d009f6f.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            TB
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/EVOPlay-123b1bd7.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            EVO_Video
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/AG-3749f7b9.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            AG_Video
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/Card365-1481917e.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            Card365
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/V8Card-bcc97655.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            V8Card
                          </span>
                        </div>
                        <div data-v-be467d1a="" class="box" style="background-image: url(&quot;/assets/png/SEXY_Video-604a76ed.png&quot;);">
                          <h3 data-v-be467d1a="" class="money">
                            0.00
                          </h3>
                          <span data-v-be467d1a="">
                            SEXY_Video
                          </span>
                        </div>
                      </div>





                </div>
            </div>
            <%- include('../nav') -%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/js/client.js"></script>
    <script>

        $('#reload .van-image').click(function (e) {
            e.preventDefault();
            $(this).addClass('action block-click');
            setTimeout(() => {
                $(this).removeClass('action block-click');
            }, 2500);
            $.ajax({
                type: "GET",
                url: "/api/webapi/GetUserInfo",
                dataType: "json",
                success: function (response) {
                    let user = response.data;
                    $('.wallet-user .name').text(user.name_user);
                    $('.money').text("₹" + user.money_user + ".00");
                }
            });
        });
        $.ajax({
            type: "GET",
            url: "/api/webapi/GetUserInfo",
            dataType: "json",
            success: function (response) {
                let user = response.data;
                $('.wallet-user .name').text(user.name_user);
                $('.money').text("₹" + user.money_user + ".00");
                $('.balance .item:eq(0) div:eq(1)').text("₹" + response.totalRecharge + ".00");
                $('.balance .item:eq(1) div:eq(1)').text("₹" + response.totalWithdraw + ".00");
            }
        });
    </script>
</body>

</html>